<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gym</title>
    <style media="screen">
      h1, p, h2, h3{
        margin-left: 5%;
      }
      body{
        background-image: url("https://t5.rbxcdn.com/ec3fee5fceaed0c83fa0c799ff3abfd5");
        background-size: cover;
          background-repeat: no-repeat;
      }
      .box{
        float: left;
        border: 1px solid black;
        background-color: white;
      }
    </style>
  </head>
  <body>
    <div class="box">
    <h1>Gym</h1>
    <% let moreTwo = false %>
    <% let x = [] %>
    <% for(y=0;y<pokemon.length;y++){ %>
   <%   if(pokemon[y].in_gym===true){ %>
     <% x.push(pokemon[y].name) %>
 <%   } %>
 <% } %>
 <% if(x.length>1){ %>
 <% moreTwo = true} %>
    <h2>Select Pokemon</h2>
    <% if(x.length===0){ %>
      <p>Choose Pokemon 1</p>
      <ul>
        <% for(let j=0; j<pokemon.length; j++){ %>
          <li><button type="button" name="button">
            <a href="/addthismon1/<%=pokemon[j].id%>"> <%= pokemon[j].name %></a>
          </button></li>
        <% } %>
      </ul>
    <% }else{ %>
      <h3>Pokemon 1: <%= x[0] %></h3>
      <% } %>
      <% if(x.length<2){ %>
        <p>Choose Pokemon 2</p>
    <ul>
      <% for(let j=0; j<pokemon.length; j++){ %>
        <li><button type="button" name="button">
          <a href="/addthismon/<%=pokemon[j].id%>"> <%= pokemon[j].name %></a>
        </button></li>
      <% } %>
    </ul>
    <% }else{ %>
      <h3>Pokemon 2: <%= x[1] %></h3>
      <% } %>
      <% if(x.length>1){ %>
      <p>Ready to go to battle?</p>
      <button type="button" name="gymbutton"><a href="/gym2">Battle!</a></button>
      <% } %>
    </div>
  </body>
</html>
